{% extends 'main/base.html' %}

{% block title %} Homepage {% endblock %}

{% block content %} 
    {% if request.user.is_authenticated %}
        <p>Hello {{request.user}} Let's Chat!</p>
    {% endif %}

<a href="logout/">logout</a>

<!-- Websocket connection -->
<script type="text/javascript">
    let url = `ws://${window.location.host}/ws/socket-server/`

    const chatSocket = new WebSocket(url)
    chatSocket.onmessage = function(e){
        let data = JSON.parse(e.data)
        console.log('DATA:', data)
    }
</script>
{% endblock %}