{% extends 'main/base.html' %}

{% block title %} Homepage {% endblock %}

{% block content %} 
    {% if request.user.is_authenticated %}
        <p>Hello {{request.user}} Let's Chat!</p>
    {% endif %}

    <form action="">
        <input type="text" name="message" id="form"/>
    </form>
    <div id="messages"></div>
<a href="logout/">logout</a>

<!-- Websocket connection -->
<script type="text/javascript">
    let url = `ws://${window.location.host}/ws/socket-server/`

    const chatSocket = new WebSocket(url)
    chatSocket.onmessage = function(e){
        let data = JSON.parse(e.data)
        console.log('DATA:', data)

        //handling incoming messages from server
        if(data.type == 'chat'){
            let messages = document.getElementById('messages')

            messages.insertAdjacentHTML('beforeend', `<div>
                    <p>${data.message}</p>
                    </div>`)
        }
    }

    let form = document.getElementById('form')
    form.addEventListener('submit', (e)=> {
        e.preventDefault()
        let message = e.target.message.value
        chatSocket.send(JSON.stringify({
            'message':message
        }))
        form.reset()
    })

</script>
{% endblock %}